
	@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis);

	body {
		background-color:#222;
	}

	.bug {
		color:orange;
	}

	h1 {
		font-family:'Terminal Dosis', arial, helvetica;
		font-weight:normal;
		text-transform:uppercase;
		margin:0px;
		padding:0px;
		font-size:32px;
		color:#fff;
	}

	p {
		font-family:arial, helvetica, sans-serif;
		font-size:12px;
		line-height:18px;
		color:#fff;
	}

	.about {
		width:400px;
		background-color:rgba(0,0,0,0.5);
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		position:fixed;
		bottom:40px;
		left:40px;
		z-index:555;
		padding:20px;
	}

	a {
		color: orange;
	}

	.highlight {
		color:orange;
	}

	.share {
		margin: 30px 0 0 0;
	}